:root {
  --ifm-color-primary: #0b5202;
  --ifm-color-primary-dark: #0a4a02;
  --ifm-color-primary-darker: #094602;
  --ifm-color-primary-darkest: #083901;
  --ifm-color-primary-light: #0c5a02;
  --ifm-color-primary-lighter: #0d5e02;
  --ifm-color-primary-lightest: #0e6b03;
  --ifm-code-font-size: 95%;
}
[data-theme="dark"] {
  --ifm-color-primary: #89f397;
  --ifm-color-primary-dark: #67ef79;
  --ifm-color-primary-darker: #55ee69;
  --ifm-color-primary-darkest: #22e83c;
  --ifm-color-primary-light: #abf7b5;
  --ifm-color-primary-lighter: #bdf8c5;
  --ifm-color-primary-lightest: #f0fef2;
}

.navbar {
  box-shadow: none !important;
}

.navbar--fixed-top {
  border-bottom: none;
  background: #fff !important;
}

.navbar__logo {
  height: 45px !important;
}

.navbar--fixed-top {
  background: linear-gradient(60deg, #fff, #ebf1eb);
}
[data-theme="dark"] .navbar--fixed-top {
  background: linear-gradient(30deg, #000402, #000402);
}
aside {
  background: transparent !important;
}

[data-theme="dark"] .footer {
  background: linear-gradient(-30deg, #000402, #000402);
}
.main-wrapper {
  background: #fff !important;
}
[data-theme="dark"] .main-wrapper {
  background: radial-gradient(#000402, #000402) !important;
}

.theme-doc-markdown > ul > li > a {
  font-weight: 900 !important;
}
.theme-doc-markdown a {
  font-weight: 900 !important;
}

.footer__copyright {
  text-align: left !important;
}

footer {
  background: #fff !important;
}
