:root {
  --ifm-color-primary: #0b5202;
  --ifm-color-primary-dark: #0a4a02;
  --ifm-color-primary-darker: #094602;
  --ifm-color-primary-darkest: #083901;
  --ifm-color-primary-light: #0c5a02;
  --ifm-color-primary-lighter: #0d5e02;
  --ifm-color-primary-lightest: #0e6b03;
  --ifm-code-font-size: 95%;
}
[data-theme="dark"] {
  --ifm-color-primary: #89f397;
  --ifm-color-primary-dark: #67ef79;
  --ifm-color-primary-darker: #55ee69;
  --ifm-color-primary-darkest: #22e83c;
  --ifm-color-primary-light: #abf7b5;
  --ifm-color-primary-lighter: #bdf8c5;
  --ifm-color-primary-lightest: #f0fef2;
}

.navbar--fixed-top {
  padding: 0px 16px !important;
  border-bottom: 1px solid var(--ifm-toc-border-color);
  height: 80px !important;
}
.navbar__logo img {
  height: 45px;
  object-fit: contain;
}

.navbar__logo {
  height: 45px !important;
}

.navbar--fixed-top {
  background: linear-gradient(60deg, #fff, #ebf1eb);
}
[data-theme="dark"] .navbar--fixed-top {
  background: linear-gradient(30deg, #000402, #001b0e);
}
aside {
  background: transparent !important;
}
.footer {
  background: linear-gradient(-30deg, #fff, #ebf1eb);
}
[data-theme="dark"] .footer {
  background: linear-gradient(-30deg, #000402, #001b0e);
}
.main-wrapper {
  background: radial-gradient(#ebf1eb, #fff) !important;
}
[data-theme="dark"] .main-wrapper {
  background: radial-gradient(#00170c, #000402) !important;
}

.theme-doc-markdown > ul > li > a {
  font-weight: 900 !important;
}
.theme-doc-markdown a {
  font-weight: 900 !important;
}
